body{
    background-color: darkgrey;
}

td{font-size: 20px;
    border: black solid 2px;
    background-color: black;
    color: white;


}
tr{
    padding-left: 0px;
}

p{
    font-size: 25px;
}
#stageMarkt {
    float: right;
    padding-right: 100px;

}

H1{
    padding-top: 20px;
    text-align: center;
}
header{
    background-image: url("resources/codegif.gif" );
    color: white;
    height: 75px;

}